// Colors
$color-bg-intro-blue: #1c2431;
$color-bg-main-blue: #181f2a;
$color-bg-footer-blue: #0b1523;
$color-bg-testimonials-blue: #202a3c;
$color-cta-cyan-gradient: #65e2d9;
$color-cta-blue-gradient: #339ecc;
$color-red: #ff4242;
$color-white: #ffffff;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: 768px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $color-bg-main-blue;
  color: $color-white;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  @include respond(desktop) {
    font-size: 4rem;
    line-height: 6rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  @include respond(desktop) {
    font-size: 4rem;
    line-height: 5rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  @include respond(desktop) {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}

h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  @include respond(desktop) {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
