.features {
  position: relative;
  display: grid;
  gap: 8rem;
  max-width: 32rem;
  margin: 0 auto 16rem;

  @include respond(desktop) {
    max-width: 88rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 16.8rem;
    row-gap: 7.9rem;
    margin-bottom: 13.737;
  }
  &__item {
    &--icon {
      height: 8rem;
      margin-bottom: 2.4rem;
    }
    &--headline {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin-bottom: 0.8rem;
    }
    &--text {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }
}
